@import url(/FONTS/FONTS.CSS);

:root {
    --main: hsl(230, 7%, 94%);
    --primary: hsl(241, 61%, 14%);
    --secondry: hsl(0, 0%, 100%);
    --third: hsl(12, 14%, 10%);
    --background :  hsl(230, 15%, 87%);

    --fs-main: 32px;
    --fs-praimary: 16px;
    --fs-seconary: 24px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    margin: 0;
    background-color: var(--background);
}

h1,
h2,
h3 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.collection-container {
    background-color: var(--main);
    max-width: 1563px;
    height: 777px;
    padding:  62px;
    border-radius: 26px;
    /* align-items: center; */
}

.collection-links h2 {
    font-family: 'Merriweather';
    font-size: var(--fs-main);
}

.collection-list {
    display: flex;
    gap: 8px;
    margin-top: 24px;
    /* justify-content: center; */
}

.collection-list p {
    height: 44px;
    width: auto;
    border-radius: 8px;
    background-color: var(--secondry);
    padding: 10px;
    font-size: var(--fs-praimary);
}
