@import url(/FONTS/FONTS.CSS);

:root {
    --main: hsl(230, 7%, 94%);
    --primary: hsl(241, 61%, 14%);
    --secondry: hsl(0, 0%, 100%);
    --third: hsl(12, 14%, 10%);
    --background :  hsl(230, 15%, 87%);

    --fs-main: 32px;
    --fs-praimary: 16px;
    --fs-seconary: 24px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    margin: 0;
    background-color: var(--background);
}

h1,
h2,
h3 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.collection-container {
    background-color: var(--main);
    max-width: 1563px;
    height: 777px;
    padding:  62px;
    border-radius: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection-links h2 {
    font-family: 'Merriweather';
    font-size: var(--fs-main);
    color: var(--primary);
}

.collection-list {
    display: flex;
    gap: 8px;
    margin-top: 24px;
    /* justify-content: center; */
}

.collection-list p {
    height: 44px;
    width: auto;
    border-radius: 8px;
    background-color: var(--secondry);
    padding: 10px;
    font-size: var(--fs-praimary);
    color: var(--primary);
}

.collections {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.collection-box {
    width: 437px;
    height: 489px;
    background-color: var(--secondry);
    padding: 24px;
    border-radius: 32px;
}

.more-img {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}

.collection-details {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}

.collection-details p {
    font-size: var(--fs-seconary);
    color: var(--primary);
}

.img-count {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--third);
}

.img-count p {
    font-size: var(--fs-praimary);
    color: var(--primary);
}
